{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Dashboard</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Num of sales</th>
            <th scope="col">Total sale value</th>
        </tr>
        </thead>
        <tbody>
      

        </tbody>
    </table>
    
    <p> categories:  {{ categories}} </p>
    <p> num of sales:  {{ quant.values}} </p>
    <p> total sale value: {{price.values}}</p>
    </div>

    </div>
  </main>

{% endblock content %}


