{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Dashboard</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Sold Items</th>
            <th scope="col">Total sale value</th>
        </tr>
        </thead>
        <tbody>



            {% for category in categories %}
                    
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ category }}</td>
                        </tr>
            {% endfor %}
      


        </tbody>
    </table>
    <p> {{ price}} </p>
    <p>{{quant}}</p>
    </div>

    </div>
  </main>

{% endblock content %}


