{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Dashboard</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Num of sales</th>
            <th scope="col">Total sale value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>{{ categories.0 }}</td>
            <td>{{ quant.0 }}</td>
            <td>{{ price.0 }}</td>
            </tr><tr>
            <td>2</td>
            <td>{{ categories.1 }}</td>
            <td>{{ quant.1 }}</td>
            <td>{{ price.1 }}</td>
          </tr><tr>
            <td>3</td>
            <td>{{ categories.2 }}</td>
            <td>{{ quant.2 }}</td>
            <td>{{ price.2 }}</td>
        </tr>
    </table>
  
    </div>
<br>
    </div>
  </main>

{% endblock content %}


